*~

# Mac OSX folder properties
.DS_Store


# test runner built with `make test`
test/run

# doc artifacts
html/*

# scratch file for testing linking
scratch.cc
a.out

# compiled artifacts
*.o
*.a
*.so*

# gcc header dependencies
*.d

# etags
TAGS
