*~

# Mac OSX folder properties
.DS_Store


# test runner built with `make test`
tests/run

# doc artifacts
html/*

# scratch file for testing linking
scratch.cc
a.out

# compiled artifacts
*.o
*.a
*.so*

# gcc header dependencies
*.d

# etags
TAGS

# Local makefile overrides.
Makefile.local

# file_driver example output
ayy.lmao/*

# manually add the source for examples you want to keep in source control
examples/

.gdb_history
